html {
  box-sizing: border-box;
}

*, *::before, ::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #b3b3b3;
}

.container {
  max-width: calc(100% - 40px);
  width: 1200px;
  margin: 0;
}

.video-player {
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.video-player:fullscreen {
  position: relative;
}

.video-player:fullscreen .video-player__controls {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  transform: translateY(100%);
}

.video-player:fullscreen .video-player__controls/*--hovered*/ {
  transform: translateY(0);
}

.video-player:fullscreen {
  max-width: none;
  width: 100%;
}

.video-player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.video-player__viewer {
  position: relative;
  font-size: 0;
}

.video-player__video {
  width: 100%;
}

.video-player__controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  transform: translateY(0);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.controls__speed,
.controls__volume,
.controls__skip {
  display: flex;
  align-items: center;
  gap: 20px;
}

.video-player__btn {
  position: relative;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.video-player__progress {
  display: flex;
  position: absolute;
  top: -8px;
  height: 8px;
  width: 100%;
  background-color: #c4c4c4;
}

.video-player__progress--filled {
  position: relative;
  width: 0%;
  background-color: #710707;
}

.video-player__progress--filled::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(50%, -25%);
}

.video-player__progress:hover {
  background-color: #989898;
}

.video-player__time-codes {
  font-size: 22px;
}

.video-player__time-codes, 
.video-player__volume-percentage,
.video-player__speed-rate {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.video-player__btn--preview {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  background-image: url('assets/svg/paused-big.svg');
  transform: translate(-50%, -50%);
}

.video-player__btn--back,
.video-player__btn--forward {
  height: 31px;
  width: 27px;
}

.video-player__btn--back {
  background-image: url('assets/svg/back.svg');
}

.video-player__btn--forward {
  background-image: url('assets/svg/forward.svg');
}

.video-player__btn--play {
  width: 23px;
  height: 31px;
  background-image: url('assets/svg/paused-small.svg');
}

.video-player__btn--skip-back,
.video-player__btn--skip-forward {
  height: 31px;
  color: #b3b3b3;
  font-size: 18px;
}

.video-player__btn--skip-back {
  padding-left: 33px;
  background-image: url('assets/svg/skip-back.svg');
  background-position-x: left;
}

.video-player__btn--skip-forward {
  padding-right: 33px;
  background-image: url(assets/svg/skip-forward.svg);
  background-position-x: right;
}

.video-player__btn--speed {
  height: 31px;
  width: 35px;
  background-image: url('assets/svg/speed.svg');
}

.video-player__btn--volume {
  height: 31px;
  width: 38px;
}

.volume-high {
  background-image: url('assets/svg/volume.svg');
}

.volume-low {
  background-image: url('assets/svg/volume-half.svg');
}

.muted {
  background-image: url('assets/svg/muted.svg');
}

.video-player__btn--fullscreen {
  height: 35px;
  width: 35px;
  background-image: url('assets/svg/flscreen.svg');
}

input[type=range] {
  height: 8px;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
}

.video-player__slider--speed[type=range] {
  background: linear-gradient(to right, #710707 0%, #710707 33%, #C4C4C4 33%, #C4C4C4 100%);;
}

.video-player__slider--volume[type=range] {
  background: linear-gradient(to right, #710707 0%, #710707 50%, #C4C4C4 50%, #C4C4C4 100%);;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: transparent;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  height: 8px;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(0, -3.5px);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  transform: translate(0, -3.5px);
}
